---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<BaseLayout pageTitle={pageTitle}>
	<h2>私の素晴らしいブログのサブタイトル</h2>
</BaseLayout>
